@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Entries database</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>*
    <script src="@routes.Assets.at("js/jquery-1.11.1.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    
        </head>
    <body>
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.HomeController.index()">
                    Play sample application &mdash; Computer database
                </a>
            </h1>
        </header>
       <section id="main">
            @content
        </section>
    </body>
</html>


@**<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.edited.css")"/>
    <script src="@routes.Assets.at("js/admin.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.admin.css")"/>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")"/>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")"/>**@
	
	    @**<div class="col-md-1 sidebar">
	  			<div class="row">
					<div class="side-menu">
						<nav class="navbar navbar-default" role="navigation">
							<div class="side-menu-container">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#">Edit Orders</a></li>
									<li class="active"><a href="#">Edit Vendors</a></li>
									<li class="active"><a href="#">Edit Departments</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-md-10 content">
				<div class="panel panel-default">
					<div class="panel-body">
						@content
					</div>
				</div>
		  	</div>
		  </div> **@
